.windowContainer {
  display: flex;
  overflow: hidden;
}

.directory {
  --w: calc((100vw - 16px) * 0.3);

  position: fixed;
  width: var(--w);
  height: calc(100vh - 16px);
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: var(--w);
}

.markdownRenderer {
  --w: calc((100vw - 16px) * 0.3 + 1rem);

  overflow: auto;
  left: var(--w);
  width: calc(100vw - var(--w));
  position: absolute;
}

.rendererContent {
  padding: 1rem 4rem 0 4rem;
}

.fileListContainer {
  display: flex;
  flex-direction: column;
}

.fileList {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
}

.fileItem {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
}

.fileItem:hover {
  background-color: rgba(32, 32, 32, 0.2);
}

.fileItemContext {
  font-size: 0.75rem;
  padding: 0.25rem;
}

.fileItemKeyword {
  background-color: yellowgreen;
}