.windowContainer {
  display: flex;
  overflow: hidden;
}

.directory {
  --w: calc((100vw - 16px) * 0.3);

  position: fixed;
  width: var(--w);
  height: calc(100vh - 16px);
  flex-basis: var(--w);
}

.markdownRenderer {
  --w: calc((100vw - 16px) * 0.3 + 1rem);
  overflow: auto;
  left: var(--w);
  width: calc(100vw - var(--w));
  position: absolute;
}

.fileItem {
  padding: 0.5rem;
  border-radius: 0.5rem;
  width: fit-content;
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.2s;
}

.fileItem:hover {
  background-color: rgba(32, 32, 32, 0.2);
}
